@import '_variables';
@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone';

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

body {
    padding-top: 0;
}

.mtm {
    margin-top: 20px;
}

.mlm {
    margin-left: 20px;
}

.mts {
    margin-top: 10px;
}

.mtxs {
    margin-top: 5px;
}

.mls {
    margin-left: 10px;
}

.mbm {
    margin-bottom: 20px;
}

.noBottomMargin {
    margin-bottom: 0;
}

.noTopMargin {
    margin-top: 0;
}

#updateDetails label {
    font-size: 12px;
    padding-right: 0px;
    color: #337ab7;
}

#updateDetails .help-block {
    font-size: 12px;
}

#uploadRegion {
    color: #9A9A9A;
    text-align: center;
    cursor: pointer;
}

#uploadRegion h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#uploadRegion .glyphicon {
    font-size: 36px;
}

#uploadRegion div {
    border: 1px dashed;
    height: 250px;
    padding-top: 80px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.myRight {
    float: right;
}

.required {
    color: #C53030;
    font-size: 15px;
}

.requiredBadge {
    color: #C53030;
    font-size: 12px;
}

.requiredSizeBoost {
    font-size: 14px;
}

.songsCount {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: #949494;
    font-size: 20px;
}

.fileButton .glyphicon {
    float: left;
}

.fileButton .filename {
    width: 210px;
    float: right;
    margin-left: 5px;
}

.fileButton  {
    white-space: normal;
}
.fileButton p {
    margin:0;color: #337AB7;
}
.profileImageContainer button {
    padding: 5px;
}

.previewApplication th {
    text-align: right;
    width: 33%;
}

.previewApplication td {
    width: 66%;
    padding-left: 30px !important;
}

.middle {
    text-align: center;
}

.navbar {
    margin-top: 0px;
    margin-bottom: 0;
}

.nav .active {
    background-color: #EFEFEF;
}

.modal-title {
    width: 280px;
}

.panelToggle .panel-heading {
    cursor: pointer;
}

.logoContainer {}

.logoContainer img {
    width: 100%;
}

.logoGuard {
    padding: 0;
}

.otherInput {
    display: none;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #123E63;
    background: #95C5F5;
    padding: 15px 5px 10px 5px;
    color: #123E63;
    z-index: 999;
}

#footer a {
    color: #123E63;
    text-decoration: underline;
}

body {
    padding-bottom: 120px;
}

/* IE 6 */
* html #footer {
    position: absolute;
    top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

#stateText, #stateDropdown {
    display: none;
}

.breakWords {
    white-space: pre-wrap;

    /* css-3 */
    white-space: -moz-pre-wrap;

    /* Mozilla, since 1999 */
    white-space: -pre-wrap;

    /* Opera 4-6 */
    white-space: -o-pre-wrap;

    /* Opera 7 */
    word-wrap: break-word;

    /* Internet Explorer 5.5+ */
}

.smallDescription {
    color: #bababa;
    font-size: 11px;
    padding: 0;
    margin: 0;
}

.smallDesc {
    font-size: 11px;
    padding: 0;
    margin: 0;
}

.appTable p {
    margin-bottom: 0;
}

.appTable td {
    text-align: center;
    vertical-align: middle !important;
}

.appTable th {
    text-align: center;
}

.nextToDescription {
    color: #717171;
}

.clickable-row {
    cursor: pointer;
}

.emptyTable {
    padding: 20px;
    color: #9A9A9A;
    text-align: center;
}

.emptyTable span {
    font-size: 35px;
    margin-bottom: 10px;
}

.emptyTable p {
    font-size: 20px;
}

.foundry a {
    text-decoration: underline;
    color: black;
}

.pagination a[rel=next]:before {
    content: 'Next ';
}

.pagination a[rel=prev]:after {
    content: ' Previous';
}

.advancedPagination {
    text-align: center;
    margin: auto;
}


.previewThumb img {
    width: 100%;
}

.ajaxLoading {
    background: url('/img/ajax-loader.gif') no-repeat center center;
    background-size: 12px 12px;
}

.loadingContainer, .song-success-check {
    height: 34px;
    width: 34px;
    float: right;
    margin-left: 10px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 34px;
}

.success {
    color: #16801B;
}

.fail {
    color: #CA1313;
}

/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
.dropzone, .dropzone *, .nodropzone, .nodropzone * {
    box-sizing: border-box;
}

.dropzone, .nodropzone {
    position: relative;
}

.dz-preview {
    position: relative;
    display: inline-block;
    min-height: 240px;
}

.dz-preview .dz-progress {
    display: block;
    height: 15px;
    border: 1px solid #91B7D8;
    clear: both;
}

.dz-preview .dz-progress .dz-upload {
    display: block;
    height: 100%;
    width: 0;
    background: #C9E6FF;
}

.dz-preview .dz-error-message {
    color: red;
    display: none;
}

.dz-preview.dz-error .dz-error-message, .dz-preview.dz-error .dz-error-mark {
    display: block;
}

.dz-preview.dz-success .dz-success-mark {
    display: block;
}

.dz-preview .dz-error-mark, .dz-preview .dz-success-mark {
    position: absolute;
    display: none;
    left: 30px;
    top: 55px;
    width: 54px;
    height: 58px;
    left: 50%;
    margin-left: -27px;
}

.dz-image {
    text-align: center;
    height: 160px;
    background-color: #F5F5F5;
}

.nodropzone {}

.dz-details {}

.dz-file-name {
    display: block;
    width: 270px;
    overflow: hidden;
    float: left;
}

.inline-edit {
    font-size:14px;margin-left: 5px;
}
.modal-backdrop {
    z-index: -1;
}
.tLeft {
    text-align: left;
}
.tRight {
    text-align: right;
}
.tCenter {
    text-align: center;
}
.mutliLineRadio {
    display: block;margin-bottom:10px;
}
.paginationCount {
    margin-top: 10px;margin-bottom:10px;
}