@import 'app.scss';

$navbar: #162389;
$navbar-lighter: lighten($navbar, 10);
$navbar-darker:  darken($navbar, 10);
$footer-border:  darken($navbar, 5);

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
html {
    height: 100%;
}
body {
    padding-bottom: 0px !important;
    min-height: 100%;
}

header.smaheader {
    min-height: 388px;
    border-bottom: solid 1px #C7C7C7;

    .col-md-12 {
        .sma_logo {
            background-image: url("/img/sma/mainlogo.png");
            height: 318px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: -50px;
            margin-top: -55px;
            width: 450px;
        }
    }

    .hexagons {
        height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        background-image: url('/img/sma/hexpattern.png');
        position: absolute;
        right: 0;
        width: 250px;
        top: 0;
    }
}

footer {
    color: #FFF;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    z-index: 9;
    position: fixed;
    bottom: 0;

    a, a:focus, a:hover {
        color: #fff;
    }

    .footer-content {
        min-height: 70px;
        border-top: 1px solid $footer-border;
        padding: 10px 10px 10px 10px;
        background-color: $navbar;
        box-shadow: 5px 3px 10px 0px #aaaaaa;
    }

    .container {
        padding-left: 0px;
        padding-right: 30px;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        margin-left: -15px;
    }
    .small-panel {
        width: 100% !important;margin-left:0 !important;
    }
    .small-panel .panel-body {
        width: 33.3333333333%;margin-left:33.33333333333%;
    }
}

@media (max-width: 768px) {
    footer {
        width: 100%;

        .footer-content {
            min-height: 70px;
        }
    }
}

@media (max-width: 680px) {
    footer {
        p {
            font-size: 10px;
        }

        width: 100%;

        .footer-content {
            min-height: 92px;
        }
    }
}

.navbar-header {
    background: $navbar;
}

.navbar-default {
    background-image: initial;
    box-shadow: none;
    background-color: transparent;
    border: none;
    margin-top: -131px;

    & .navbar-collapse,
    & .navbar-form {
        background: $navbar;
        border-bottom: 5px solid $navbar-lighter;
        color: #fff;
    }

    & .navbar-nav > .open > a,
    & .navbar-nav > .active > a {
        background-color: $navbar-lighter;
        background-image: initial;
        color: #fff;
    }

    & .navbar-nav > li > a {
        color: #FFF;
    }

    & .navbar-nav > li > a:hover,
    & .navbar-nav > li > a:focus {
        color: #B1C3FF;
    }

    & .navbar-nav > .active > a,
    & .navbar-nav > .active > a:hover,
    & .navbar-nav > .active > a:focus {
        color: #fff;
        font-weight: 500;
        background-color: $navbar-darker;
    }
}

.panel-primary {
    box-shadow: 0px 8px 10px 0px #aaaaaa;
    border: none;

    h3 {
        color: #444444;
        font-weight: 500;
        font-size: 26px;
        margin-top: 10px;
    }

    & .panel-heading {
        background-image: initial;
        background-color: #F4F4F4;
        height: 70px;
        border-bottom: 1px solid #DEDEDE;
    }
}

.panel.no-margin {
    margin-bottom: 0px;
}
.panel-footer {
    background: white !important;
    border:none;
}
.panel-body {
    padding-bottom: 30px;


    &.large-panel {

    }
}

.bottom {
    padding-bottom:15px;
}


.mr10 {
    margin-right: 10px;
}
.multiPanel .panel-primary {
    border: 1px solid #ddd !important;
    box-shadow: none !important;
}
.adminLeftCol {
    padding: 0;
}
.adminRightCol {
    padding-right:0;
}
.large-panel {
    min-height: 70vh !important;
}
.large-panel .panel-body {
   padding-bottom: 0;
}
.large-panel table {
    margin-bottom: 0;
}
.inline-edit {
    color:#337ab7 !important;
}
.inline-edit:link{
    color:#337ab7 !important;
}
#submitAndPay {
    margin-left: 10px;
}

.roundAssignment {
    margin-top: 20px;
}
.randomAssign {
    margin-top:20px !important;margin-bottom:0 !important;
}

.help-block.danger {
    color: $state-danger-text;
    font-weight: bold;
}
