@import 'app';
@import 'bootstrap-theme.min';

.actionContainer {
  border: none;box-shadow: none;
}
.panel-heading a {
  color:white !important;text-decoration: underline;
}
.pagination {
  margin-top: 0;
}
#submitAndPay {
  margin-left: 10px;
}
.inline-edit {
  color: white !important;
}
.inline-edit:link{
  color: white !important;
}

.randomAssign {
  margin-top:10px !important;margin-bottom:20px;
}